


<div data-bind="css:{hidden:showDirectorOne()}">
    <form id="DirectorOne">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOneName"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="DirectorOneName" name="DirectorOneName" data-bind="value : DirectorOneName" placeholder="Name" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOneSurname"><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="DirectorOneSurname" name="DirectorOneSurname" data-bind="value : DirectorOneSurname" placeholder="Surname" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOneCell"><strong>Cell</strong></label>
                        <input type="text" class="form-control" id="DirectorOneCell" name="DirectorOneCell" data-bind="value : DirectorOneCell" placeholder="Cell" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOneEmail"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="DirectorOneEmail" name="DirectorOneEmail" data-bind="value : DirectorOneEmail" placeholder="Email" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOneIDNumber"><strong>ID Number</strong></label>
                        <input type="text" class="form-control" id="DirectorOneIDNumber" name="DirectorOneIDNumber" data-bind="value : DirectorOneIDNumber" placeholder="ID Number" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOnePhysicalAddress"><strong>Physical Address</strong></label>
                        <textarea id="DirectorOnePhysicalAddress" name="DirectorOnePhysicalAddress" class="form-control" data-bind="value : DirectorOnePhysicalAddress" placeholder="Physical Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorOnePostalAddress"><strong>Postal Address</strong></label>
                        <textarea id="DirectorOnePostalAddress" name="DirectorOnePostalAddress" class="form-control" data-bind="value : DirectorOnePostalAddress" placeholder="Postal Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fileuploadOneID"><strong>Upload Certified ID</strong></label>
                        <input type="file" id="fileuploadOneID" name="fileuploadOneID" class="form-control" data-bind="event: {change: fileuploadOneID}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: AddAnotherDirector" id="AddAnotherDirector" name="AddAnotherDirector">Add Another Director</button>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm btn-block" data-bind="click: Continue" id="Continue" name="Continue">Continue</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="css:{hidden:showDirectorTwo()}">
    <form id="DirectorTwo">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoName"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="DirectorTwoName" name="DirectorTwoName" data-bind="value : DirectorTwoName" placeholder="Name" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoSurname"><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="DirectorTwoSurname" name="DirectorTwoSurname" data-bind="value : DirectorTwoSurname" placeholder="Surname" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoCell"><strong>Cell</strong></label>
                        <input type="text" class="form-control" id="DirectorTwoCell" name="DirectorTwoCell" data-bind="value : DirectorTwoCell" placeholder="Cell" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoEmail"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="DirectorTwoEmail" name="DirectorTwoEmail" data-bind="value : DirectorTwoEmail" placeholder="Email" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoIDNumber"><strong>ID Number</strong></label>
                        <input type="text" class="form-control" id="DirectorTwoIDNumber" name="DirectorTwoIDNumber" data-bind="value : DirectorTwoIDNumber" placeholder="ID Number" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoPhysicalAddress"><strong>Physical Address</strong></label>
                        <textarea id="DirectorTwoPhysicalAddress" name="DirectorTwoPhysicalAddress" class="form-control" data-bind="value : DirectorTwoPhysicalAddress" placeholder="Physical Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorTwoPostalAddress"><strong>Postal Address</strong></label>
                        <textarea id="DirectorTwoPostalAddress" name="DirectorTwoPostalAddress" class="form-control" data-bind="value : DirectorTwoPostalAddress" placeholder="Postal Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fileuploadTwoID"><strong>Upload Certified ID</strong></label>
                        <input type="file" id="fileuploadTwoID" name="fileuploadTwoID" class="form-control" data-bind="event: {change: fileuploadTwoID}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: AddAnotherDirector" id="AddAnotherDirector" name="AddAnotherDirector">Add Another Director</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: Continue" id="Continue" name="Continue">Continue</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="css:{hidden:showDirectorThree()}">
    <form id="DirectorThree">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreeName"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="DirectorThreeName" name="DirectorThreeName" data-bind="value : DirectorThreeName" placeholder="Name" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreeSurname"><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="DirectorThreeSurname" name="DirectorThreeSurname" data-bind="value : DirectorThreeSurname" placeholder="Surname" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreeCell"><strong>Cell</strong></label>
                        <input type="text" class="form-control" id="DirectorThreeCell" name="DirectorThreeCell" data-bind="value : DirectorThreeCell" placeholder="Cell" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreeEmail"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="DirectorThreeEmail" name="DirectorThreeEmail" data-bind="value : DirectorThreeEmail" placeholder="Email" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreeIDNumber"><strong>ID Number</strong></label>
                        <input type="text" class="form-control" id="DirectorThreeIDNumber" name="DirectorThreeIDNumber" data-bind="value : DirectorThreeIDNumber" placeholder="ID NUmber" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreePhysicalAddress"><strong>Physical Address</strong></label>
                        <textarea id="DirectorThreePhysicalAddress" name="DirectorThreePhysicalAddress" class="form-control" data-bind="value : DirectorThreePhysicalAddress" placeholder="Physical Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorThreePostalAddress"><strong>Postal Address</strong></label>
                        <textarea id="DirectorThreePostalAddress" name="DirectorThreePostalAddress" class="form-control" data-bind="value : DirectorThreePostalAddress" placeholder="Postal Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fileuploadThreeID"><strong>Upload Certified ID</strong></label>
                        <input type="file" id="fileuploadThreeID" name="fileuploadThreeID" class="form-control" data-bind="event: {change: fileuploadThreeID}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: AddAnotherDirector" id="AddAnotherDirector" name="AddAnotherDirector">Add Another Director</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: Continue" id="Continue" name="Continue">Continue</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="css:{hidden:showDirectorFour()}">
    <form id="DirectorFour">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourName"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="DirectorFourName" name="DirectorFourName" data-bind="value : DirectorFourName" placeholder="Name" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourSurname"><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="DirectorFourSurname" name="DirectorFourSurname" data-bind="value : DirectorFourSurname" placeholder="Surname" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourCell"><strong>Cell</strong></label>
                        <input type="text" class="form-control" id="DirectorFourCell" name="DirectorFourCell" data-bind="value : DirectorFourCell" placeholder="Cell" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourEmail"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="DirectorFourEmail" name="DirectorFourEmail" data-bind="value : DirectorFourEmail" placeholder="Email" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourIDNumber"><strong>ID Number</strong></label>
                        <input type="text" class="form-control" id="DirectorFourIDNumber" name="DirectorFourIDNumber" data-bind="value : DirectorFourIDNumber" placeholder="ID Number" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourPhysicalAddress"><strong>Physical Address</strong></label>
                        <textarea id="DirectorFourPhysicalAddress" name="DirectorFourPhysicalAddress" class="form-control" data-bind="value : DirectorFourPhysicalAddress" placeholder="Physical Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFourPostalAddress"><strong>Postal Address</strong></label>
                        <textarea id="DirectorFourPostalAddress" name="DirectorFourPostalAddress" class="form-control" data-bind="value : DirectorFourPostalAddress" placeholder="postal Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fileuploadFourID"><strong>Upload Certified ID</strong></label>
                        <input type="file" id="fileuploadFourID" name="fileuploadFourID" class="form-control" data-bind="event: {change: fileuploadFourID}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: AddAnotherDirector" id="AddAnotherDirector" name="AddAnotherDirector">Add Another Director</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: Continue" id="Continue" name="Continue">Continue</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="css:{hidden:showDirectorFive()}">
    <form id="DirectorFive">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFiveName"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="DirectorFiveName" name="DirectorFiveName" data-bind="value : DirectorFiveName" placeholder="Name" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFiveSurname"><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="DirectorFiveSurname" name="DirectorFiveSurname" data-bind="value : DirectorFiveSurname" placeholder="Surname" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFiveCell"><strong>Cell</strong></label>
                        <input type="text" class="form-control" id="DirectorFiveCell" name="DirectorFiveCell" data-bind="value : DirectorFiveCell" placeholder="Cell" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFiveEmail"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="DirectorFiveEmail" name="DirectorFiveEmail" data-bind="value : DirectorFiveEmail" placeholder="Email" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFiveIDNumber"><strong>ID Number</strong></label>
                        <input type="text" class="form-control" id="DirectorFiveIDNumber" name="DirectorFiveIDNumber" data-bind="value : DirectorFiveIDNumber" placeholder="ID Number" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFivePhysicalAddress"><strong>Physical Address</strong></label> 
                        <textarea id="DirectorFivePhysicalAddress" name="DirectorFivePhysicalAddress" class="form-control" data-bind="value : DirectorFivePhysicalAddress" placeholder="Physical Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DirectorFivePostalAddress"><strong>Postal Address</strong></label>
                        <textarea id="DirectorFivePostalAddress" name="DirectorFivePostalAddress" class="form-control" data-bind="value : DirectorFivePostalAddress" placeholder="Postal Address"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fileuploadFiveID"><strong>Upload Certified ID</strong></label>
                        <input type="file" id="fileuploadFiveID" name="fileuploadFiveID" class="form-control" data-bind="event: {change: fileuploadFiveID}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: AddAnotherDirector" id="AddAnotherDirector" name="AddAnotherDirector" disabled>Add Another Director</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: Continue" id="Continue" name="Continue">Continue</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="css:{hidden:showCompnayDetails()}">
    <form id="CompnayDetails">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyName"><strong>Company Name One</strong></label>
                        <input type="text" class="form-control" id="CompanyNameOne" name="CompanyNameOne" data-bind="value : CompanyNameOne" placeholder="Company Name One" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyName"><strong>Company Name Two</strong></label>
                        <input type="text" class="form-control" id="CompanyNameTwo" name="CompanyNameTwo" data-bind="value : CompanyNameTwo" placeholder="Company Name Two" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyName"><strong>Company Name Three</strong></label>
                        <input type="text" class="form-control" id="CompanyNameThree" name="CompanyNameThree" data-bind="value : CompanyNameThree" placeholder="Company Name Three" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyName"><strong>Company Name Four</strong></label>
                        <input type="text" class="form-control" id="CompanyNameFour" name="CompanyNameFour" data-bind="value : CompanyNameFour" placeholder="Company Name Four" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyEmail"><strong>CompanyEmail</strong></label>
                        <input type="email" class="form-control" id="CompanyEmail" name="CompanyEmail" data-bind="value : CompanyEmail" placeholder="Company Email" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="URL"><strong>URL</strong></label>
                        <input type="url" class="form-control" id="URL" name="URL" data-bind="value : URL" placeholder="URL" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyPhysicalAddress"><strong>Physical Address</strong></label>
                        <textarea id="CompanyPhysicalAddress" name="CompanyPhysicalAddress" class="form-control" data-bind="value : CompanyPhysicalAddress"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CompanyPostalAddress"><strong>Postal Address</strong></label>
                        <textarea id="CompanyPostalAddress" name="CompanyPostalAddress" class="form-control" data-bind="value : CompanyPostalAddress"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: BackDirector" id="BackDirector" name="BackDirector">Back</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: Continue" id="Continue" name="Continue">Continue</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="css:{hidden:showProductSelection()}">
    <form id="CompnayDetails">
        <div class="form-group-sm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <span class="col-sm-4"><string>Total :</string></span>
                        <span class="col-sm-8"><string data-bind="text: 'R'+String(CompanyRegistrationTotal()).ToMoney()"></string></span>
                    </div>
                </div>
            </div>
            <div class="row  margin-top-10">
                <div class="col-sm-12">
                    <div class="form-group">
                        <span class="col-sm-12"><string>Banking Details</string></span>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Bank :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>FNB</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Account No :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>62 68 62 49 759</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Account Holder :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>Design Proto</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Branch Code :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>250 655</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Reference :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>Cell Number</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>E-wallet :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>072 798 9848</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Cash send :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>072 798 9848</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><strong>Instant cash :</strong></span>
                                </div>
                                <div class="col-sm-8">
                                    <span>072 798 9848</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-group-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="ProductSelection"><strong>Product Selection</strong></label>
                    <div class="col-sm-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="Taxclearancecertificate" class="checkbox" value="true" name="Permit" data-bind="checked: Taxclearancecertificate" />
                            <label for="Taxclearancecertificate"><span>Tax clearance certificate</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="Companylogo" class="checkbox" value="true" name="Companylogo" data-bind="checked: logo" />
                            <label for="Companylogo"><span>logo</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="Letterhead" class="checkbox" value="true" name="Letterhead" data-bind="checked: Letterhead" />
                            <label for="PermitYes"><span>Letterhead</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="Businesscard" class="checkbox" value="true" name="Permit" data-bind="checked: Businesscard" />
                            <label for="Businesscard"><span>Business card design +100 cards printed</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="Businessprofile" class="checkbox" value="true" name="Businessprofile" data-bind="checked: Businessprofile" />
                            <label for="Businessprofile"><span>Business profile design</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="website" class="checkbox" value="true" name="website" data-bind="checked: website" />
                            <label for="website"><span>website setup and design</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="btn-group-sm">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: BackCompanyDetails" id="BackCompanyDetails" name="BackCompanyDetails">Back</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-bind="click: CheckOut" id="CheckOut" name="CheckOut">Check Out</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="gComfirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <strong>You have requested for</strong>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Company Registratiorn</strong></label>
                            <div class="col-sm-7"><span class="form-control">R800.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-bind="css:{hidden:!Taxclearancecertificate()}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Tax clearance certificate</strong></label>
                            <div class="col-sm-7"><span class="form-control">R600.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-bind="css:{hidden:!logo()}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>logo</strong></label>
                            <div class="col-sm-7"><span class="form-control">R800.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-bind="css:{hidden:!Letterhead()}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Letterhead</strong></label>
                            <div class="col-sm-7"><span class="form-control">R800.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-bind="css:{hidden:!Businesscard()}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Business card design +100 cards printed</strong></label>
                            <div class="col-sm-7"><span class="form-control">R850.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-bind="css:{hidden:!Businessprofile()}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Business profile design</strong></label>
                            <div class="col-sm-7"><span class="form-control">R1800.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-bind="css:{hidden:!website()}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Website setup and design</strong></label>
                            <div class="col-sm-7"><span class="form-control">R4500.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="row  margin-top-10">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><strong>Grand Total</strong></label>
                            <span class="col-sm-7"><strong data-bind="text: 'R'+String(GrandTotal()).ToMoney()"></strong></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="btn-group-sm">
                            <div class="col-sm-3">
                                <button type="button" name="Cancel" data-dismiss="modal" id="Cancel" class="btn btn-default btn-sm btn-block">Cancel</button>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <button type="button" name="OK" data-bind="click: OK" id="OK" class="btn btn-default btn-sm btn-block">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gHappy" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <strong>Thanks you!</strong>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Request successfully sent.</strong></p>
                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="btn-group-sm">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <button type="button" name="OK" data-bind="click: Done" id="OK" class="btn btn-default btn-sm btn-block">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gloading" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <img src="images/DYALX.gif" class="size" />
                    Loading...
                </h4>
            </div>
        </div>
    </div>
</div>
